# Xcode
**/xcuserdata/
*.xcuserstate
*.xcresult
*.xcresultbundle
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# macOS
.DS_Store
Thumbs.db
*.swp

# App artifacts
*.app
*.ipa
*.dSYM.zip
*.dSYM
